# redmine api
api_key: 5029e19bced91284bcdefff3918405bcdef91830
redmine_url: https://projects.yourdomain.com
svn_root: /www/svn/
git_root: /www/git/
logfile: /tmp/log
errorlog: /tmp/log2

gitolite:
  host: db.example.org
  dbname: gitolite
  port: 5432
  username: gitolite
  password: changme!
  driver: Pg

redmine:
  host: db.example.org
  dbname: redmine
  port: 3306
  username: redmine
  password: changme!
  driver: Mysql
